body {
    margin: 0;
}

/*  */

.content {
    font-family: 'Caveat', cursive;
    font-size: 27px;
    line-height: 1.2;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ad8fdff3;
}

.content_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto;
    background-color: #e4daf5f3;
    padding: 25px;
}

.content_inner button {
    margin: 10px;
    color: #6610f2;
    border: 1px solid #6610f2;
    background-color: #fff;
}

.content_inner button:hover {
    background-color: #6610f2;
    border-color: #6610f2;
}

.content_text {
    display: flex;
}

.content_text p {
    margin: 0;
    text-transform: capitalize;
    font-weight: 600;
}

.content_author {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
    color: rgba(152, 88, 211, 0.842);
    text-transform: capitalize;
}